body {
  background-image: url("../img/pig-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.btn {
  width: 100px;
  margin-bottom: 10px;
}

#roll {
  background-color: #e817d6;
  color: #efa2e9;
  border: 2px solid #efa2e9;
}

#hold {
  background-color: #efa2e9;
  color: #e817d6;
  border: 2px solid #e817d6;
}

#dice-roll-card {
  text-align: center;
  background-color: #8a8c8e;
  color: white;
}

#rules {
  text-align: left;
  font-size: 12px;
}

#rules {
  color: black;
}

.active {
  background-color: #efa2e9;
  color: #e817d6;
  padding: 5px;
}
